.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
    padding: 1rem 1rem;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 250px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.card-text{
    margin-top: 5px;
    font-size: small;
}

.tab-pane {
    padding-top: 10px;
}

.collapse {
    padding-top: 10px;
}

.masinfo {
    margin-bottom: 2px;
}

.img-carrousel {
    height:  300px; 
    width: 100%; 
    margin-top: 10px;
}