$yellow: #ffff79;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    padding: 1rem 1rem;
    @include margenes(50px,0px );
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px,0px );
}

.card-hotel {
    flex: 1 250px;
    padding: 2px 2px 2px 2px;
    @include margenes(10px,0px );
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.card-text{
    margin-top: 5px;
    font-size: small;
}

.tab-pane {
    padding-top: 10px;
}

.collapse {
    padding-top: 10px;
}

.masinfo {
    margin-bottom: 2px;
}

.img-carrousel {
    height:  300px; 
    width: 100%; 
    @include margenes(10px,0px );
}