.jumbotron {
  background-color: #ffff80;
  color: black;
  padding: 1rem 1rem;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ffff80;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 250px;
  padding: 2px 2px 2px 2px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.card-text {
  margin-top: 5px;
  font-size: small;
}
.tab-pane {
  padding-top: 10px;
}
.collapse {
  padding-top: 10px;
}
.masinfo {
  margin-bottom: 2px;
}
.img-carrousel {
  height: 300px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
}
